table {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

th{
    text-align: center;
    color: #ffffff;
    background-color: #2d2d2d;
}

td {
     text-align: center
 }

div#login {
    background-color: #ffffff;
    width: 300px;
    border: 10px #000000;
    margin: auto;
}
