<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
</head>
<body>
    <h3>Forecast</h3>
    <table class="table table-striped">
        <tr>
            <th>Location</th>
            <th>Minimal temperature </th>
            <th>Maximal temperature </th>
        </tr>
        <tr>
            <td>
                city <b>{{ weather.city }}</b>
                country <b>{{ weather.country }}</b>
            </td>
                <td>{{ weather.min_temperature }}</td>
                <td>{{ weather.max_temperature }}</td>
        </tr>
    </table>
</body>
</html>
