{% extends "base.html" %}

{% block content %}
  {% csrf_token %}
        <h2>Forecast</h2>
        <table class="table table-striped">
            <tr>
                <th>Location</th>
                <th>Minimal temperature </th>
                <th>Maximal temperature </th>
            </tr>
            <tr>
                <td>
                    {% for tag, locati in location.items %}
                        {{ tag }} <b>{{ locati }}</b>
                    {% endfor %}
                </td>

                 {% for key, value in weather.items %}
                    <td>    {{ value }} </td>
                    {% endfor %}
            </tr>
        </table>
{% endblock %}