<html>
<head lang="en">
    {% load static %}
    <script src={% static "js/forecast_parameter.js" %}></script>
</head>
<body>
    <h3>Parameter</h3>
    <div class="alert alert-danger" id="parameter_error_msg" style="display: none"></div>
    <form action="/weather/" method="post" class="form-horizontal" role="form" id="param_form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.city.id }}">{{ form.city.label }}</label>
            <input type="text" class="form-control" id="{{ form.city.id }}" name="{{ form.city.name }}"/>
            <label for="{{ form.services_name.id }}">{{ form.services_name.label }}</label>
            <select class="form-control" id="{{ form.services_name.id }}" name="{{ form.services_name.name }}">
                {% for value, text in form.services_name.field.choices %}
                    <option value="{{ value }}">{{ text }}</option>
                {% endfor %}
            </select>
            <label for="{{ form.forecast_day.id }}">{{ form.forecast_day.label }}</label>
            <select class="form-control" id="{{ form.forecast_day.id }}" name="{{ form.forecast_day.name }}">
                {% for value, text in form.forecast_day.field.choices %}
                    <option value="{{ value }}">{{ text }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Check weather" />
    </form>
</body>
</html>