<!DOCTYPE html>
<html>
<head lang="en">
    {% load static %}
    <meta charset="UTF-8">
    <title> Weather services </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- google chart plot-->
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
    <script src="{% static "js/global.js" %}"></script>
    <script src="{% static "js/ajax_load_pages.js" %}"></script>
</head>
<body>
    <!-- navigation menu -->
    <div>
        <nav class="navbar navbar-inverse ">
            <div class="container">
            <ul class="nav nav-pills">
                <p class="navbar-text navbar-right">Hello <b>{{ user.username }}</b>. You can </b> <a href="/logout">logout here </a></p>
            </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <!-- Forecast parameter and history-->
        <div class="row">
            <!-- parameter page -->
            <div class="col-xs-4 col-md-4 col-lg-4" id="parameter_div">
            </div>
            <!-- forecast history -->
            <div class="col-xs-8 col-md-8 col-lg-8" id="history_div">
                <div class="col-xs-8 col-md-8 col-lg-8" >
                    <h3>History</h3>
                    </div>
                <div class="col-xs-4 col-md-4 col-lg-4" >
                    <label for="elements_per_page">Per page</label>
                    <input type="number" class="form-control"
                           onkeyup="historyPage.loadHistoryDataAndShow()"
                           id="elements_per_page" name=elements_per_page" min="5"  value="10"/>
                </div>
                <table class="table table-striped">
                    <thead>
                        <th>City</th>
                        <th>Date</th>
                        <th>Services</th>
                        <th>Urls</th>
                    </thead>
                    <tbody id="history_table_body">
                    </tbody>
                </table>
            <nav>
                <ul class="pager">
                    <li id="navigation_prev" class="previous" style="display: none"><a onclick= "historyPage.prevPage() ">Prev</a></li>
                    <span id="navigation_current" class="current"></span>
                    <li class="next" id="navigation_next" style="display: none"><a onclick="historyPage.nextPage(); ">Next</a></li>
                </ul>
            </nav>
            </div>
        </div>
        <!-- spinner -->
        <div class="row" >
            <div class="col-xs-12 col-md-12 col-lg-12">
                <p id="spinner" style="display: none; text-align: center">
                    <img src="{% static "img/ajax-loader_blue.gif" %}"/></p>
                <div id = "global_error_div" class="alert alert-danger" style="display: none">
                </div>
            </div>
        </div>
        <!-- forecast -->
        <div class="row" >
            <div class="col-xs-12 col-xs-12" id="forecast_div">
                <table id="forecast_table" class="table table-striped" style="display: none">
                    <thead>
                        <th>Location</th>
                        <th>Minimal temperature</th>
                        <th>Maximal temperature</th>
                    </thead>
                    <tbody id="forecast_table_body">
                    </tbody>
                </table>
                <div id="error_msg" class="alert alert-danger" style="display: none" >
                </div>
            </div>
        </div>
        <div class="row">
            <div id="chart_div" style="display: block"></div>
        </div>
    </div>
</body>
</html>