<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <title>Forecast</title>
</head>
<body>
    <h3>Forecast</h3>
        <table class="table table-striped">
            <tr>
                <th>Location</th>
                <th>Minimal temperature </th>
                <th>Maximal temperature </th>
            </tr>
            <tr>
                <td>
                    city  <b>{{ city }}</b>
                    country  <b>{{ country }}</b>
                </td>
                 {% for key, value in weather.items %}
                    <td>    {{ value }} </td>
                    {% endfor %}
            </tr>
        </table>
</body>
</html>